<details class="expandable-detail-drawer {{drawerClass}}">
  <summary class="sheet-list-row expandable-detail-summary {{summaryClass}}" data-swipe-ignore>
    {{> summary}}
  </summary>
  <div class="expandable-detail-body {{bodyClass}}">
    {{> body}}
  </div>
</details>
